@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Apply custom font globally */
body {
    @apply font-title;
  }

  /* Scrollbar width */
::-webkit-scrollbar {
  width: 12px; /* Adjust width as needed */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light grey background */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Darker color for thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Hover effect for scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Slightly darker shade on hover */
}
